@import "tailwindcss";

@layer base {
  body {
    background-color: var(--color-white);
    color: #0a0d12;
    font-family: "Quicksand";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (prefers-color-scheme: dark) {
      background-color: var(--color-black);
      color: #fdfdfd;
    }
  }
}

@layer components {
  .titleBlock {
    @apply relative -top-5 text-base text-left font-bold leading-7.5;
  }

  .descBlock {
    @apply relative -top-5 text-sm font-medium text-[#a4a7ae] text-left leading-7;
  }

  .sizeBoxSolutions {
    @apply w-90.25 h-39.5;
  }

  .sizeBoxSolutionsMD {
    @apply w-88.75 h-43.75;
  }
}
